{
    "moan": [
        "^[あぁアァ]+$",
        "^[んンッ]+$",
        "^[いぃイィ]+$",
        "^[うぅウゥ]+$",
        "^[えぇエェ]+$",
        "^[おぉオォ]+$",
        "^[まマ]+$",
        "^[やヤ]+$",
        "^[はハ]+$",
        "^[ぱパ]+$"
    ],
    "custom": [
        "^うん+$",
        "^ー$"
    ]
}
